{% extends 'shop/basic.html' %}
{% block titile %}Tracker{% endblock %}
{% block body %} 

<div class= "container">
<div class= "col">
<h2>Order Tracker- Enter your order Id and Email address to track you order</h2>
<form method="post" action="#" id = "trackerForm">{% csrf_token %}
            <input type= "hidden" name = "itemsJson" id ="itemsJson">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name">Order id</label>
                    <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Order Id">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="text" class="form-control" id="email" name="email"placeholder="Email">   
                </div>
                <button type="submit" class="btn btn-primary my-3 mx-2" style= "width: 190px" >Track Order</button>
            </div>

</div>
</form>
<div class= "col">
<h2>Your Order Status</h2>
<div>
<ol class="list-group list-group-numbered" id="items"> 
</ol>
</div>
</div>
</div>
{% endblock %}

{% block js %}
<script>
$('#trackerForm').submit(function(event){
    $('#items').empty();
    var formData= {
        'orderId': $('input[name=orderId]').val(),
        'email': $('input[name=email]').val(),
        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()

    };

    $.ajax({
        type: 'POST',
        url: '/shop/tracker/',
        data: formData,
        encode: true
    })
     .done(function(data) {
            console.log(data)
            updates = JSON.parse(data);
            if (updates.length > 0 & updates != {}) {
                for (i = 0; i < updates.length; i++) {
                    let text = updates[i]['text'];
                    let time = updates[i]['time'];
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge badge-primary badge-pill">${time}</span>
                </li>`
                    $('#items').append(mystr);
                }
            } else {
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`
                $('#items').append(mystr);
            }
    });
    event.preventDefault();
});

</script>
{% endblock %}